Repository mtgbl/mtgbl.github.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pfirpfel, @j3mdamas, @streebiii

.github/CODEOWNERS:

# Global
*               @pfirpfel @j3mdamas

# Neuigkeiten
_posts/*        @pfirpfel

# Standorte
_locations*     @pfirpfel

# Events
_events*        @pfirpfel @j3mdamas @streebiii

Update 2025-09-19-prerelease-spm.markdown
  _events/2025-09-19-prerelease-spm.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Add deck
  _events/2025-09-19-prerelease-spm.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Update 2025-11-08-gv.markdown
  _events/2025-11-08-gv.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Fix link
  _events/2025-11-08-gv.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Update 2025-09-26-draft.markdown
  _events/2025-09-26-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Update 2025-09-26-draft.markdown
  _events/2025-09-26-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

GV update
  _events/2025-11-08-gv.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Fix SWF address
  _locations/spielweltenfabrik.markdown
Owners: @pfirpfel

Add winner deck
  _events/2025-09-26-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Add year-param to both stat pages
  assets/js/attendance-chart.js
  assets/js/baer-stats.js
Owners: @pfirpfel, @j3mdamas

Add special events
  _events/2025-12-12-draft.markdown
  _events/2025-12-19-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Add commander party
  _events/2025-12-05-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Change Halloween events
  _events/2025-10-31-draft.markdown
  _events/2025-11-07-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Add Lorwyn Eclipsed Prerelease
  _events/2026-01-16-prerelease-ecl.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Fix title
  _events/2025-11-07-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Add Duel Commander events
  _events/2025-10-17-draft.markdown
  _events/2025-11-07-draft.markdown
  _events/2025-12-05-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Add bear final post
  _posts/2025-09-30-baerenfinale-2025.markdown
Owners: @pfirpfel

Update 2025-09-30-baerenfinale-2025.markdown
  _posts/2025-09-30-baerenfinale-2025.markdown
Owners: @pfirpfel

Add remark
  _posts/2025-09-30-baerenfinale-2025.markdown
Owners: @pfirpfel

Add 2025-10-03 results
  _events/2025-10-03-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Update 2025-10-10-draft.markdown
  _events/2025-10-10-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Update event details and player counts
  _events/2025-10-17-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Add constructed attendance to stats
  _events/2025-10-17-draft.markdown
  assets/js/attendance-chart.js
  stats/attendance.json
Owners: @pfirpfel, @j3mdamas, @streebiii

Update 2025-10-19-24event-prerelease.markdown
  _events/2025-10-19-24event-prerelease.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Change event title to 'Modern Horizons 3 Draft'
  _events/2025-10-24-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Update 2025-10-24-draft.markdown
  _events/2025-10-24-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Fix openssl bug
  Gemfile
  Gemfile.lock
Owners: @pfirpfel, @j3mdamas

Fix: Use zero if value is null
  stats/attendance.json
Owners: @pfirpfel, @j3mdamas

Change label from Draft to Limited
  assets/js/attendance-chart.js
Owners: @pfirpfel, @j3mdamas

Update 2025-10-24-draft.markdown
  _events/2025-10-24-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Change format
  _events/2025-10-31-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Update 2025-10-31-draft.markdown
  _events/2025-10-31-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Create 2026 prereleases
  _events/2026-02-27-prerelease-tmt.markdown
  _events/2026-04-17-prerelease-secrets-of-strixhaven.markdown
  _events/2026-06-19-prerelease-marvel-super-heroes.markdown
  _events/2026-08-07-prerelease-the-hobbit.markdown
  _events/2026-09-25-prerelease-reality-fracture.markdown
  _events/2026-11-13-prerelease-star-trek.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Add more events
  _events/2026-01-02-event.markdown
  _events/2026-01-09-event.markdown
  _events/2026-01-23-event.markdown
  _events/2026-01-30-event.markdown
  _events/2026-02-06-event.markdown
  _events/2026-02-13-event.markdown
  _events/2026-02-20-event.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Add turtle events
  _events/2026-03-06-event.markdown
  _events/2026-03-13-event.markdown
  _events/2026-03-20-event.markdown
  _events/2026-03-27-event.markdown
  _events/2026-04-03-event.markdown
  _events/2026-04-10-event.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Update 2025-11-08-gv.markdown
  _events/2025-11-08-gv.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Add forgetful fish article
  _posts/2025-11-08-format-forgetful-fish.markdown
  assets/img/dandan.png
  assets/img/memory-lapse.png
Owners: @pfirpfel, @j3mdamas

Update 2025-11-07-draft.markdown
  _events/2025-11-07-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

fix typo
  _events/2025-11-07-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Revise Commander section with Turbo Tower details
  _events/2025-12-12-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii
