Repository mtgbl/mtgbl.github.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pfirpfel, @j3mdamas, @streebiii

Update upcoming events
  _events/2025-08-01-draft.markdown
  _events/2025-08-08-draft.markdown
  _events/2025-08-15-draft.markdown
  _events/2025-08-22-liga.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Update more upcoming events
  _events/2025-08-29-draft.markdown
  _events/2025-09-05-draft.markdown
  _events/2025-09-12-liga.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Fix Prerelease
  _events/2025-07-25-prerelease-eoe.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Small fix
  _events/2025-07-25-prerelease-eoe.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Fix title
  _events/2025-07-25-prerelease-eoe.markdown
  _events/2025-09-19-prerelease-spm.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Add Spider-Man drafts
  _events/2025-09-26-draft.markdown
  _events/2025-10-03-draft.markdown
  _events/2025-10-10-draft.markdown
  _events/2025-10-17-draft.markdown
  _events/2025-10-24-draft.markdown
  _events/2025-10-31-draft.markdown
  _events/2025-11-07-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Update 2025-07-18-draft.markdown
  _events/2025-07-18-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Update 2025-07-18-draft.markdown
  _events/2025-07-18-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Update 2025-07-18-draft.markdown
  _events/2025-07-18-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Add attendance data as json
  stats/attendance.json
Owners: @pfirpfel, @j3mdamas

Fix JSON syntax
  stats/attendance.json
Owners: @pfirpfel, @j3mdamas

Ignore cancelled events
  stats/attendance.json
Owners: @pfirpfel, @j3mdamas

Add dependencies
  assets/js/chart.umd.min.js
  assets/js/chart.umd.min.js.map
Owners: @pfirpfel, @j3mdamas

Add initial stats
  _layouts/attendance-chart.html
  stats/attendance.md
Owners: @pfirpfel, @j3mdamas

Add year selector
  _layouts/attendance-chart.html
Owners: @pfirpfel, @j3mdamas

Hide in sitemap
  stats/attendance.md
Owners: @pfirpfel, @j3mdamas

Move into single file
  stats/attendance.html
  stats/attendance.md
Owners: @pfirpfel, @j3mdamas

Move JS code into separate file
  assets/js/attendance-chart.js
  stats/attendance.html
Owners: @pfirpfel, @j3mdamas

Fix encoding
  _events/2025-07-18-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Add winners stats
  assets/js/attendance-chart.js
  stats/attendance.html
  stats/attendance.json
Owners: @pfirpfel, @j3mdamas

Remove p
  stats/attendance.html
Owners: @pfirpfel, @j3mdamas

Add year to title
  assets/js/attendance-chart.js
  stats/attendance.html
Owners: @pfirpfel, @j3mdamas

Simplify update
  assets/js/attendance-chart.js
Owners: @pfirpfel, @j3mdamas

Comments, formatting
  assets/js/attendance-chart.js
Owners: @pfirpfel, @j3mdamas

Use different source for winner stats
  assets/js/attendance-chart.js
  stats/winners.json
Owners: @pfirpfel, @j3mdamas

Move Bären Stats to separate page
  assets/js/attendance-chart.js
  assets/js/baer-stats.js
  bears.markdown
  stats/attendance.html
  stats/winners.html
Owners: @pfirpfel, @j3mdamas

Add links, cleanup
  assets/js/baer-stats.js
  past-events.markdown
  stats/attendance.html
Owners: @pfirpfel, @j3mdamas

Baer-Stats: add all-time stats
  assets/js/baer-stats.js
Owners: @pfirpfel, @j3mdamas

Update logo
  assets/img/baer.svg
Owners: @pfirpfel, @j3mdamas

Display deck link if available
  _events/2025-07-11-draft.markdown
  bears.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Add deck
  _events/2025-06-13-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

New post about new website functions
  _posts/2025-07-23-neue-funktionen.markdown
Owners: @pfirpfel

Add Joao's decks
  _events/2025-01-17-draft.markdown
  _events/2025-02-28-liga.markdown
  _events/2025-05-09-draft.markdown
  _events/2025-07-18-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Add decklist
  _events/2025-03-21-liga.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Fix icon
  events.markdown
Owners: @pfirpfel, @j3mdamas

Replace text with icons
  assets/img/stack.svg
  assets/img/trophy.svg
  bears.markdown
Owners: @pfirpfel, @j3mdamas

Update 2025-07-25-prerelease-eoe.markdown
  _events/2025-07-25-prerelease-eoe.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Update 2025-07-25-prerelease-eoe.markdown
  _events/2025-07-25-prerelease-eoe.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Update 2025-08-01-draft.markdown
  _events/2025-08-01-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

Update events
  _events/2025-09-19-prerelease-spm.markdown
  _events/2025-10-31-draft.markdown
Owners: @pfirpfel, @j3mdamas, @streebiii

.github/CODEOWNERS:

# Global
*               @pfirpfel @j3mdamas

# Neuigkeiten
_posts/*        @pfirpfel

# Standorte
_locations*     @pfirpfel

# Events
_events*        @pfirpfel @j3mdamas @streebiii
